<html class="ext-strict x-viewport" lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>{%block title %}JukeCloud{% endblock %}</title>
    {%block metas %}
    <meta content="text/html; charset=utf-8" http-equiv="content-type" />
    {% endblock %}
    
    {% block styles %}
    <link rel="stylesheet" href="{{ asset(foundation_folder ~ 'css/normalize.css')}}">
    <link rel="stylesheet" href="{{ asset(foundation_folder ~ 'css/foundation.css')}}">
    <link rel="stylesheet" href="{{ asset('bundles/tabernicolajukecloud/css/style.css')}}">

    <script src="{{ asset(foundation_folder ~ 'js/vendor/modernizr.js')}}"></script> 
    {% endblock %}
    
</head>

<body>
    
    <div class="row">
    <!--CONTROLS-->
    {%block controls %}
    {{ include('TabernicolaJukeCloudBundle:Blocks:_controls.html.twig')}}
    {% endblock %}
    </div>    
    
    <div class="row">
        <!--nav (left column)--> 
        {%block nav %}
        {{ include('TabernicolaJukeCloudBundle:Blocks:_nav.html.twig')}}
        {% endblock %}

        <!--Playlist cover lirycs (right column)-->
        {%block playlist %}
        {{ include('TabernicolaJukeCloudBundle:Blocks:_playlist.html.twig')}}
        {% endblock %}

        <!--BROWSER (central column -->
        {%block browser %}
        {{ include('TabernicolaJukeCloudBundle:Blocks:_browser.html.twig')}}
        {% endblock %}

        <!--Split bar 1 -->
        <div class="x-layout-split x-layout-split-west x-splitbar-h" id="mpd-nav-xsplit" style="left: 300px; top: 62px; height: 502px;">
            &nbsp;
        </div>

        <!--Split bar 2 -->
        <div class="x-layout-split x-layout-split-east x-splitbar-h" id="mpd-sidebar-wrapper-xsplit" style="left: 1656px; top: 62px; height: 502px;">
            &nbsp;
        </div>
    </div>
    <!--float menu -->
    {%block menu %}
    {{ include('TabernicolaJukeCloudBundle:Blocks:_menu.html.twig')}}
    {% endblock %}
    
    {% block javascript %}
    <script src="{{ asset(foundation_folder ~ 'js/vendor/jquery.js')}}"></script> 
    <script src="{{ asset(foundation_folder ~ 'js/foundation.min.js')}}"></script> 
    <script src="{{ asset(foundation_folder ~ 'js/foundation/foundation.slider.js')}}"></script> 
    foundation.slider
    <script>
      $(document).foundation();
    </script>
    {% endblock %}
</body>

</html>