<html class="ext-strict x-viewport" lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>{%block title %}JukeCloud{% endblock %}</title>
    {%block metas %}
    <meta content="text/html; charset=utf-8" http-equiv="content-type" />
    {% endblock %}
    
    {%block styles %}
    <link href="ext/resources/css/ext-all.css" rel="stylesheet" type="text/css" />
    <!-- Theme includes -->
    <link href="ext/resources/css/xtheme-ambience.css" rel="stylesheet" title="ambience" type="text/css" />
    <link href="ext/resources/css/xtheme-blue.css" rel="stylesheet" title="blue" type="text/css" />
    <link href="ext/resources/css/xtheme-gray.css" rel="stylesheet" title="gray" type="text/css" />
    <link href="ext/resources/css/xtheme-gray-extend.css" rel="stylesheet" title="grayx" type="text/css" />
    <link href="ext/resources/css/xtheme-slate.css" rel="stylesheet" title="slate" type="text/css" />
    <link href="ext/resources/css/xtheme-dcs.css" rel="stylesheet" title="dcs" type="text/css" />
    <link href="ext/resources/css/xtheme-human.css" rel="stylesheet" title="human" type="text/css" />
    <link href="ext/resources/css/xtheme-tp.css" rel="stylesheet" title="tp" type="text/css" />
    <!-- Client175 specific stylesheet -->
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link href="tb_btn_fix.css" rel="stylesheet" type="text/css" />
    {% endblock %}
</head>

<body class="ext-gecko ext-gecko3 ext-linux x-border-layout-ct" id="ext-gen3">
    
    <!--CONTROLS-->
    {%block controls %}
    {{ include('TabernicolaJukeCloudBundle:Blocks:_controls.html.twig')}}
    {% endblock %}
        
    <!--nav (left column)--> 
    {%block nav %}
    {{ include('TabernicolaJukeCloudBundle:Blocks:_nav.html.twig')}}
    {% endblock %}
        
    <!--Playlist cover lirycs (right column)-->
    {%block playlist %}
    {{ include('TabernicolaJukeCloudBundle:Blocks:_playlist.html.twig')}}
    {% endblock %}
  
    <!--BROWSER (central column -->
    {%block browser %}
    {{ include('TabernicolaJukeCloudBundle:Blocks:_browser.html.twig')}}
    {% endblock %}

    <!--Split bar 1 -->
    <div class="x-layout-split x-layout-split-west x-splitbar-h" id="mpd-nav-xsplit" style="left: 300px; top: 62px; height: 502px;">
        &nbsp;
    </div>

    <!--Split bar 2 -->
    <div class="x-layout-split x-layout-split-east x-splitbar-h" id="mpd-sidebar-wrapper-xsplit" style="left: 1656px; top: 62px; height: 502px;">
        &nbsp;
    </div>

    <!--float menu -->
    {%block menu %}
    {{ include('TabernicolaJukeCloudBundle:Blocks:_menu.html.twig')}}
    {% endblock %}
</body>

</html>
